<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Here are your Users</h1>
        {% if user_records %}
          <ol>
            {% for person in user_records %}
            <li>User Info</li>
              <ul>
                <li>First Name: {{ person.ufirst_name }}</li>
                <li>Last Name: {{ person.ulast_name }}</li>
                <li>Email: {{ person.uemail }}</li>
              </ul>
            {% endfor %}
          </ol>

        {% endif %}
      </div>

    </div>

  </body>
</html>
